body {
	/*Раскомментируйте код, чтобы увидеть соответствие исходному изображению*/
	/*background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: top center;*/
	background-color: #eeeeee;
	margin: 4px;
}
div.content {
	width: 410px;
	padding: 50px 50px 70px 50px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	opacity: 0.9;
}
img {
	margin-top: 20px;
}
ul {
	text-align: left;
}
li {
	margin-bottom: 8px;
}
h3 {
	margin: 0;
}
p {
	text-align: left;
	margin: 25px 0 35px 10px;
}
p.student {
	margin: 10px 0 20px 10px;
}
div div p:first-child {
	margin-bottom: 10px;
}
div div p:last-child {
	margin-top: 0px;
	margin-bottom: 33px;
}