body {
	/*Раскомментируйте код, чтобы увидеть соответствие исходному изображению*/
	/*background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: top center;*/
	background-color: #eeeeee;
	margin: 4px;
}
li {
	margin-bottom: 8px;
}
p {
	text-align: left;
	margin: 25px 0 35px 10px;
}
span {
	display: block;
}
div.content {
	width: 410px;
	padding: 10px 50px 40px 50px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	opacity: 0.9;
	margin:0 auto;
}
.foto, h3 { 
	text-align:center; 
}
.hr-line{
	border-top: solid 1px grey;
}