*{
	margin: 0;
	padding: 0;
	font-family: 'league_gothic', Arial, sans-serif;
	color: #fff;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
@font-face {
    font-family: 'league_gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

.header{
	height: 450px;
	width: 100%;
	background: url(../img/top-bg.jpg) no-repeat top center;
	background-size: cover;
	padding-top: 70px;
	border-bottom: 1px solid #34263b;
}
.header__logo{
	width: 152px;
	height: 39px;
	margin: 0 auto 40px;
	background: url(../img/logo.png);
}
.header__home{
	border-bottom: 2px solid #edbfff;
	width: 47px;
	height: 34px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	text-decoration: none;
	position: relative;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
.header__home:hover .menu{
	display: block;
}
.menu{
	display: none;
	width: 245px;
	position: absolute;
	z-index: 100;
	border: 1px solid #000;
	top: -6px;
    left: -100px;
	border-radius: 5px;
}
.menu__li{
	list-style: none;
}
.menu__a{
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size: 24px;
	background: rgba(54, 41, 62, 0.9);
	text-decoration: none;
	line-height: 38px;
	display: block;
	width: 100%;
	border-top: 1px solid #695272;
	border-bottom: 1px solid #36283e;
	box-sizing: border-box;
}
.menu__a:hover{
	border-bottom: 2px solid #edbfff;
	line-height: 37px;
	background: rgba(43, 34, 49, 0.9);
}
.slider{
	margin: 125px auto 0;
	width: 335px;
	position: relative;
}
.header__sliderbg{
	display: none;
	position: absolute;
	width: 100%;
	height: 245px;
	background: rgba(0,0,0,0.2);
	top: 195px;
}
.slider__left{
	vertical-align: super;
	display: inline-block;
	width: 22px;
	height: 34px;
	background: url(../img/slide-left.png);
	margin-right: 40px;
	cursor: pointer;
}
.slider__right{
	vertical-align: super;
	display: inline-block;
	width: 22px;
	height: 34px;
	background: url(../img/slide-right.png);
	margin-left: 40px;
	cursor: pointer;
}
.slider__text{
	font-size: 36px;
	color: #fefefe;
	display: inline-block;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.slider__text--pink{
	color: #edbfff;
	font-size: 18px;
	display: block;
}
.slider__points{
	margin-top: 80px;
	text-align: center;
}
.slider__points__li{
	list-style: none;
	display: inline-block;
	background: url(../img/point.png);
	width: 17px;
	height: 17px;
	margin-right: 5px;
	text-align: 
}
.slider__points__a{
	width: 11px;
	height: 11px;
	display: block;
	margin: 3px;
}
.slider__points__a--current{
	background: url(../img/point-hover.png);
}
.slider__iphone{
	display: none;
}
.slider__text__p{
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 16px;
	font-family: 'Opean Sans', Arial, sans-serif;
	width: 265px;
	display: none;
}
.header .menu--gorisontal{
	display: none;
}

/* ABOUT BLOCK */

.about{
	background: rgb(116,80,131);
	background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
	padding: 70px 0 25px;
}
.about__block{
	padding-left: 50px;
	background: url(../img/about.png) no-repeat 0 3px;
	text-align: left;
	width: 260px;
	margin: 0 auto 45px;
}
.about__block__header{
	font-size: 24px;
	text-shadow: 1px 1px #000;
}
.about__block__p{
	font-family: 'Opean Sans', Arial, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px #000;
	line-height: 20px;
}
.about__block__more{
	font-size: 18px;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px #000;
}
.about__block__more:hover{
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/* REVIEWS */

.review{
	background: #f9f9f9;
	padding: 70px 0 75px;
	border-bottom: 1px solid #e6e6e6;
}
.reviews{
	width: 280px;
	margin: 0 auto;
}
.reviews__block{
	width: 190px;
	margin: 0 auto;
	position: relative;
	padding: 25px 35px 35px;
	background: #fff;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
}
.reviews__block__avatar{
	position: absolute;
	top: 20px;
	left: -24px;
}
.reviews__block__p{
	font-size: 16px;
	margin-top: 13px;
	color: #454545;
	font-family: 'Open Sans', Arial, sans-serif;
}
.reviews__block__header{
	font-size: 24px;
	color: #454545;
}
.reviews__block__header--pink{
	color: #edbfff;
	display: block;
}
.slider__points--review{
	text-align: center;
	margin-top: 20px;
}
.slider__points__li--review{
	background: url(../img/point-r.png);
}
.slider__points__a--rcurrent{
	background: url(../img/point-rc.png);
}
.updates{
	width: 281px;
	margin: 50px auto 0;
}
.updates__header{
	font-size: 30px;
	display: block;
	margin-bottom: 30px;
	color: #454545;
}
.updates__post{
	margin-bottom: 30px;
	position: relative;
	padding-left: 65px;
}
.updates__post__pic{
	position: absolute;
	top: 0px;
	left: 0px;
}
.updates__post__title{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #454545;
}
.updates__post__date{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #454545;
}
.updates__more{
	font-size: 18px;
	color: #454545;
	text-align: right;
	text-shadow: 0px 0px #000;
	text-decoration: none;
	display: block;
}
.brandblock{
	background: #f9f9f9;
	padding: 50px 0 0;
	border-top: 1px solid #fefefe;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	z-index: 1;
	position: relative;
}
.brands{
	width: 282px;
	margin: 0 auto;
}
.brands__logo{
	text-align: center;
	width: 140px;
	display: inline-block;
	float: left;
	height: 65px;
	line-height: 65px;
	margin-bottom: 60px;
}
.brands__logo__img{
	vertical-align: middle;
}
.footer{
	height: 160px;
	text-align: center;
	padding-top: 40px;
	background: url(../img/footer-bg.jpg) center bottom;
}
.footer__copy{
	font-size: 12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
.footer__copy--bold{
	font-size: 12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
	font-weight: bold;
}
.menu--gorisontal{
	text-align: center;
	display: none;
}
.menu__li--gorisontal{
	display: inline-block;
	margin-left: 20px;
}
.menu__li--gorisontal:first-child{
	margin-left: 0;
}
.menu__a--gorisontal{
	background: 0;
	border: 0;
	color: #fff;
	font-size: 20px;
	text-shadow: 2px 2px #000;
}
.menu__a--gorisontal:hover{
	background: 0;
	border: 0;
}
/* CATEGORIES */

.categories{
	background: #ececec;
	padding: 80px 0 30px;
	display: none;
}
.category{
	margin: 0 auto;
	margin-bottom: 60px;
	width: 440px;
}
.category__header{
	font-size: 24px;
	color: #454545;
	margin-bottom: 15px;
}
.category__p{
	color: #787878;
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #787878;
}

@media only screen and (min-width : 480px) {
	.header__logo{
		margin-bottom: 20px;
	}
	.slider{
		width: 480px;
		margin-top: 20px;
	}
	.slider__iphone{
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		width: 192px;
		height: 304px;
	}
	.slider__left{
		margin-right: 10px;
	}
	.slider__right{
		margin-left: 10px;
	}
	.slider__points{
		margin-top: -20px;
	}
	.header__sliderbg{
		display: block;
	}
	.reviews{
		width: 440px;
		padding-left: 12px;
	}
	.reviews__block{
		width: 375px;
	}
	.about__block{
		width: 405px;
	}
	.updates{
		width: 330px;
	}
	.brands{
		width: 420px;
	}
	.brandblock{
		box-shadow: 0;
		position: static;
		border-bottom: 1px solid #fefefe;
	}
	.footer{
		padding-top: 50px;
	}
	.categories{
		border-top: 1px solid #d8d8d8;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
		display: block;
		position: relative;
		z-index: 1;
	}
	.menu--gorisontal{
		display: block;
	}
	.footer__copy{
		margin-top: 35px;
	}
}

@media only screen and (min-width : 768px) {
	.slider{
		width: 768px;
	}
	.header .menu__a--gorisontal:hover{
		border-bottom: 2px solid #edbfff;
		line-height: 34px;
	}
	.header{
		height: 730px;
	}
	.header__sliderbg{
		height: 400px;
		top: 245px;
	}
	.header__logo{
		margin-bottom: 30px;
		width: 728px;
		background-repeat: no-repeat;
	}
	.header__home{
		display: none;
	}
	.header__dropdown{
		display: none;
	}
	.menu--gorisontal{
		width: 728px;
		text-align: left;
		margin: 0 auto;
	}
	.slider__iphone{
		width: 274px;
		height: 434px;
		margin-left: 135px;
	}
	.slider__text{
		font-size: 48px;
		vertical-align: middle;
		margin-left: 15px;
	}
	.slider__text--pink{
		font-size: 24px;
	}
	.slider{
		margin-top: 55px;
	}
	.header .menu__a--gorisontal{
		font-size: 24px;
	}
	.slider__points{
		margin-top: 10px;
	}
	.slider__text__p{
		display: block;
		margin-top: 10px;
	}
	.header .menu--gorisontal{
		display: block;
	}
	.about{
		text-align: center;
	}
	.about__block{
		width: 145px;
		display: inline-block;
		margin-left: 55px;
	}
	.about__block:first-child{
		margin-left: 0;
	}
	.review{
		text-align: center;
	}
	.reviews{
		display: inline-block;
	}
	.updates{
		display: inline-block;
	}
	.reviews__block{
		width: 245px;
		text-align: left;
	}
	.updates{
		margin-top: 25px;
		text-align: left;
		vertical-align: top;
	}
	.brands{
		width: 840px;
	}
	.brandblock{
		padding-top: 25px;
	}
	.brands__logo{
		margin-bottom: 30px;
	}
	.categories{
		text-align: center;
		padding: 105px 0 100px;
	}
	.category{
		width: 205px;
		display: inline-block;
		text-align: left;
		margin-bottom: 0;
		margin-left: 60px;
	}
	.category:first-child{
		margin-left: 0;
	}
	.footer__copy{
		text-align: right;
		width: 728px;
		display: block;
		margin: 35px auto 0;
	}
}
@media only screen and (min-width : 960px) {
	.slider{
		width: 960px;
		margin-top: 155px;
	}
	.slider__text{
		font-size: 60px;
		width: 500px;
		margin-left: 0;
		text-align: left;
	}
	.slider__text--pink{
		font-size: 32px;
	}
	.slider__text__p{
		font-size: 16px;
		width: 100%;
	}
	.slider__iphone{
		margin-left: 120px;
	}
	.slider__left,
	.slider__right{
		position: absolute;
		margin-top: 183px;
	}
	.slider__left{
		left: -300px;
	}
	.slider__right{
		right: -300px;
	}
	.header__sliderbg{
		top: 280px;
	}
	.header .menu--gorisontal{
		display: inline-block;
		width: 776px;
		vertical-align: top;
	}
	.menu__li--header:first-child{
		margin-left: 140px;
	}
	.header{
		text-align: center;
	}
	.about__block{
		width: 225px;
	}
	.header__logo{
		width: 152px;
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.reviews__block{
		width: 360px;
	}
	.reviews__block__header{
		font-size: 30px;
	}
	.reviews__block__header--pink{
		display: inline-block;
	}
	.updates{
		margin-left: 60px;
	}
	.updates__header{
		margin-bottom: 20px;
	}
	.updates__post{
		margin-bottom: 15px;
	}
	.category{
		width: 275px;
	}
	.menu--gorisontal{
		display: inline-block;
	}
	.menu__li--gorisontal{
		margin-right: 40px;
	}
	.footer{
		text-align: center;
		height: 75px;
		padding-top: 45px;
	}
	.footer__copy{
		width: 150px;
		display: inline-block;
		margin: 0;
	}
	.menu__li--header{
		margin-left: 45px;
		margin-right: 0;
	}
}

