*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
img{
	vertical-align: middle; /* Чтобы не добавлялось дополнительных 3px после изображения */
}
.wrapper{
	width: 910px;
	margin: 15px auto 0;
}

/* HEADER */
.phones{
	margin-left: 7px;
	font-size: 18px;
	line-height: 21px;
	vertical-align: -webkit-baseline-middle;
	padding-left: 26px;
	background: url(../img/phone.png) no-repeat;
	color: #5e696d;
	display: inline-block;
}
.login{
	margin-left: 20px;
	background: #206988;
	display: inline-block;
	background: -moz-linear-gradient(top, #206988 0%, #114165 45%, #0c3256 100%);
	background: -webkit-linear-gradient(top, #206988 0%,#114165 45%,#0c3256 100%);
	background: linear-gradient(to bottom, #206988 0%,#114165 45%,#0c3256 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 );
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	padding: 4px 10px 4px 7px;
}
.login form{
	display: inline-block;
	vertical-align: top;
}
.login input{
	font-size: 11px;
	width: 108px;
	padding-left: 7px;
}
.no-btn{
	border: none;
	color: #fff;
	background: none;
	cursor: pointer;
	display: inline-block;
}
.login span,
.login a{
	font-size: 11px;
	text-decoration: none;
	color: white;
}
.login .forgot{
	color: #bfbfbf;
	font-size: 11px;
	text-decoration: underline;
	margin-left: 35px;
}
.old-navs{
	background: url(../img/mini-menu.png) no-repeat;
	padding: 5px 0 0 0;
	height: 33px;
    width: 85px;
	display: inline-block;
}
.old-navs a{
	margin-left: 8px;
	vertical-align: middle;
}
.logo{
	width: 909px;
	height: 237px;
	background-image: url(../img/header.png);
}

/* NAVIGATION HEADER */
.head-nav{
	background: #576068;
	background: -moz-linear-gradient(top,  #576068 0%, #000000 30%, #000000 100%);
	background: -webkit-linear-gradient(top,  #576068 0%,#000000 30%,#000000 100%);
	background: linear-gradient(to bottom,  #576068 0%,#000000 30%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576068', endColorstr='#000000',GradientType=0 );
	border: solid 1px #0d1642;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	margin-top: 6px;
	font-size: 14px;
	color: white;
}
.head-nav nav{
	padding: 4px 0 4px 125px;
	display: inline-block;

}
nav a{
	display: inline-block;
	text-decoration: none;
	line-height: 25px;
	padding: 0 20px;
	color: #b1bcc0;
}
nav a:hover{
	background: #206988;
	color: #ffffff;
	background: -moz-linear-gradient(top,  #206988 0%, #114165 59%, #0c3256 100%);
	background: -webkit-linear-gradient(top,  #206988 0%,#114165 59%,#0c3256 100%);
	background: linear-gradient(to bottom,  #206988 0%,#114165 59%,#0c3256 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 );
	border-radius: 20px;
}
.checkout{
	background: url(../img/checkout.png) no-repeat left center;
	padding-left: 25px;
	display: inline-block;
	color: #929b9f;
	font-size: 11px;
}
.checkout span{
	color: #0d5a8f;
	font-size: 12px;
	margin-right: 15px;
}	

/* SIDEBAR */
aside{
	color: #114165;
	display: inline-block;
	margin-top: 15px;
	vertical-align: top;
}
.sb-title{
	background: url(../img/sb-title.png) no-repeat;
	width: 156px;
	display: inline-block;
	font-size: 13px;
	padding: 6px 0 12px 30px;
	margin-bottom: 15px;
}
.ititle{
	padding: 6px 0 12px 32px;
    display: block;
    width: 118px;
    background: url(../img/ititle.png) no-repeat;
}
aside ul{
	list-style: none;
}
aside ul li{
	margin-bottom: 15px;
}
aside ul li:last-child{
	margin-bottom: 7;
}
aside ul li a{
	background: url(../img/li.png) no-repeat center left;
	font-size: 13px;
	padding-left: 12px;
	margin-left: 35px;
	text-decoration: none;
	color: #465961;
}
aside ul li a:hover{
	background-image: url(../img/li-hover.png);
	font-size: 14px;
	color: #0c3256;
	text-decoration: underline;
	font-style: italic;
}
aside label{
	display: block;
	margin: 10px 0 15px 23px;
}
aside label span{
	margin-left: 15px;
}
.right-sb .ititle{
	margin-left: 12px;
}
.form-btn{
	background: #206988;
	color: #ffffff;
	background: -moz-linear-gradient(top,  #206988 0%, #114165 59%, #0c3256 100%);
	background: -webkit-linear-gradient(top,  #206988 0%,#114165 59%,#0c3256 100%);
	background: linear-gradient(to bottom,  #206988 0%,#114165 59%,#0c3256 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 );
	border: 0;
	font-size: 11px;
	border-radius: 15px;
	padding: 9px 12px;
	margin-top: 5px;
	margin-left: 20px;
	cursor: pointer;
}
/* MAIN INFO */
.info{
	max-width: 504px;
	padding-top: 15px;
	padding-left: 22px;
	margin: 15px 0 40px;
	display: inline-block;
	background: rgb(201,207,209);
	background: -moz-linear-gradient(top,  rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
	background: -webkit-linear-gradient(top,  rgba(201,207,209,0.49) 0%,rgba(35,75,93,0.49) 100%);
	background: linear-gradient(to bottom,  rgba(201,207,209,0.49) 0%,rgba(35,75,93,0.49) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cfd1', endColorstr='#234b5d',GradientType=0 );
	height: 600px;
	border-radius: 10px;
}
.img-wrap{
	width: 135px;
	height: 125px;
	border-radius: 10px;
	text-align: center;
	border: solid #a4aeb1 1px;
	background: white;
	vertical-align: middle;
}
.img-wrap img{
	margin-top: 3px;
}
figure{
	text-align: center;
	width: 135px;
	color: #1f2528;
	font-size: 13px;
	margin: 0 30px 30px 0;
	display: inline-block;
}
figure a{
	text-decoration: none;
	color: black;
}
figcaption span{
	color: #206988;
	font-size: 15px;
	display: block;
}
figcaption b{
	color: #114165;
	font-size: 16px;
}
.brands{
	margin: 0 auto 25px;
	text-align: center;
}

/* FOOTER */
footer{
	width: 910px;
	background: #213a4d;
	color: #bec6c9;
	font-size: 10px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 50px;
}
footer a{
	text-decoration: none;
	color: #bec6c9;
}
footer a:hover{
	color: #52abcb;
}
footer li{
	list-style: none;
	display: inline-block;
	margin: 0 10px 15px;
}
footer span{
	color: #7f4740
}





