/* GENERAL */
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f9f9;
}
.wrapper{
	background-color: white;
	width: 970px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	padding: 50px 45px 60px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

/* HEADER*/
.header a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 15px 25px;
}
.header a:hover{
	border-left: solid 1px #838383;
	border-right: solid 1px #838383;
	background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	padding: 15px 24px; /* Потому что border 1px, иначе будет смещение вправо при наведении */
}
.ul-header{
	list-style: none;
	background: linear-gradient(to top, #444343, #5e5e5e);
	padding-left: 0px;
	margin-top: 40px;
}
.ul-header li{
	display: inline-block;
	margin-right: 35px;
}

/* CONTAINER*/
.container{
	margin-top: 40px;
}
.left-menu{
	float: left;
	width: 240px;
}
.left-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.left-menu ul li{
	border: solid 1px #c8c8c8;
	border-bottom: 0px;
}
.left-menu ul:last-child{
	border-bottom: solid 1px #c8c8c8;
}
.left-menu ul li a{
	display: block;
	text-decoration: none;
	color: #656363;
	padding: 15px 20px;
}
.left-menu ul li a:hover{
	color: #2c2c2c;
	padding-left: 35px;
	background-color: #f9f9f9;
}
.content{
	float: right;
	max-width: 675px;
}
.img-frame{
	border: solid 1px #c8c8c8;
	background-color: white;
	padding: 50px 90px;
}
.content p{
	padding: 0 20px; 
	color: #2c2c2c;
}

/* FOOTER */
.footer{
	background-color: #e1e1e1;
	padding: 15px 25px;
	font-size: 14px;
	margin-top: 60px;
}
.ul-footer{
	padding-left: 0px;
	margin: 0;
	float: left;
}
.ul-footer li{
	display: inline-block;
	margin-right: 95px;
} 
.ul-footer li a{
	text-decoration: none;
	color: #2c2c2c;
}
.ul-footer li a:hover{
	text-decoration: underline;
}
.copy-text{
	float: right;
	color: #2c2c2c;
}