/* GENERAL */
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
	color: #e6e6e6;
}
body{
	background-color: black;
	background-image: url(../img/bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	min-width: 833px;
	background-size: contain;
}
img{
    vertical-align: middle; /* Чтобы не добавлялось дополнительных 3px после изображения */
}
.wrapper{
	margin: 35px auto;
	width: 833px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.copyright{
	text-align: center;
	margin-bottom: 30px;
	font-size: 11px;
	width: 100%;
}

/* HEADER */
header{
	position: relative;
	padding-left: 10px;
}
.logo{
	float: left;
}
.contacts{
	float: right;
	position: absolute;
	bottom: 20px;
	right: 15px;
}
.contacts span{
	font-size: 9px;
	display: block;
}
.contacts span b{
	font-size: 11px;
}

/* CONTENT */
.country{
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 50px;
}
.country a{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #e6e6e6;
	text-decoration: none;
}
.country img{
	border: 2px solid #9b9b9b;
	margin-bottom: 5px;
}